* {
    /* box-shadow: 0 0 0 1px orange; */
}
html{
    font-size: 62.5%;/* 16px × 62.5% = 10px*/
    scroll-behavior: smooth;
}
body{
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
    color: #222;
}
a:visited{
    color: #222;
}
.wrap{
    max-width: 400px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    background-size: cover;
    background-position: center top;
}

/* title area */

#image img{
    max-width: 100%;
    max-height: 400px;
}

/* comment area */

#comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comment h1, h2{
    text-align: center;
    font-size: 2.4rem;
    color: rgb(10, 47, 102);
    font-weight: bold;
    padding: 0 10px;
}

#battle_field{
    display: flex;
    justify-content: space-between;   
}

/* machine area */

#machine{
    margin: 20px 0 0;
}

#machine img{
    max-height: 70px;
}

/* my area */

#buttons{
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.gu, .choki, .pa{
    margin: 0 8px 0 0;
    border-radius: 10px;
    border: 1px rgb(116, 169, 239);
    background-color: rgb(163, 198, 243);
}

#buttons img{
    max-height: 70px;
}

/* control area */

#control{
    margin: 20px 0 0;
    padding: 5px 15px;
    font-size: 2rem;
    color: #fff;
    border-radius: 10px;
    border: 1px rgb(116, 169, 239);
    background-color: rgb(163, 198, 243);
    text-align: center;
}

/* video and history area */

#video{
    position: absolute;
    top: 1200px;
}
#list{
    margin: 0 0 0 20px;
}
#list img{
    width: 100px;
    height: 80px;
    padding: 5px 0 0;
    object-fit: cover;
}
table{
    position: absolute;
    top: 640px;
}
td{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.0rem;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    color: #222;
    background-color: rgb(219, 233, 251);
    border: 1px solid #222;
}